@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.my-h4 {
    margin:0em;
    }

    #special-p {
    font-size: 0.8em;
    }

    .special-p {
    font-size:10em;
    }

  .input-field {
    display:block;
    width: 100%
    }   

      h4 {margin:0;
    }

      h4 {margin: 2em;
    }
      
      body {margin: 0;
        font-family:'roboto', sans-serif;
    }

      .inner-content {
        padding: 12px
      }

      img{
    width: 100%;
    }

h1,h4 {
    font-family:'lato', sans-serif;
    }

     h1 { 
        color: #3b7669;
    } 

    h1:hover {
      color: red;
    }

#footer-wrapper{
  max-width: 400px;
  margin: 0 auto; 
}

ul {
  background: linear-gradient(121deg, #ededed, #0b008263);
}